.correct {
  background-color: white;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px  rgb(6, 240, 15);
  font-weight: 700;
  padding: 0.8em 2em;
  transform: scale(1.1);
}


.wrong {
  background-color: white;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px red;
  font-weight: 700;
  padding: 0.8em 2em;
  text-decoration: line-through;
  transform: scale(0.9);
}

.question {
  align-items: center;
  background: white;
  border-radius: 1em;
  box-shadow: 0 0 15px rgb(30, 161, 231);
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  margin: 8em auto;
  padding: 2em 5em;
  width: 50vw;
}

.question-text {
  font-size: 1.5em;
  font-weight: 700;
  padding: 1.5em 0;
}

.btn-next {
  align-self: flex-end;
  background-color: white;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px rgb(190, 97, 97);
  font-weight: 700;
  padding: 0.8em 2em;
}

.answers {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  gap: 1em;
  margin: 0 15em;
}

.correct-answer-button {
  align-items: center;
  border: none;
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8em 2em;
  width: auto;

}

.wrong-answer {
  align-items: center;
  border: none;
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8em 2em;
  width: auto;
}
